.results {
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.2);
}

.drop-container {
}

.img-container {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

img {
  transform-origin: top left !important;
}
