/* You can add global styles to this file, and also import other style files */

html, body, app-root, .fh {
  height:100%;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
}

fw {
  width:100%;
  max-width:100%;
}


.hide {
  display:none;
}

.overflow-scroll {
  overflow: scroll;
}

.zone .konvajs-content{
    transform-origin: top left;
    overflow:hidden;
}

.zone {
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.2);;
}
